Adafruit-Blinka==9.2.0
adafruit-circuitpython-bmp3xx==1.3.27
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.89.1
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
picamera2==0.3.37
pyftdi==0.57.2
python-dotenv==1.2.3
pyusb==1.3.1
spidev==3.8
sysv_ipc==1.2.0
videodev2==0.0.4
